@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<PersonWithContactDto>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kişi Listesi</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <a  class="btn btn-success col fileinput-button" asp-controller="Person" asp-action="Save">
                            <i class="fas fa-plus"></i>
                            <span>Yeni Kişi Ekle</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Firma Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody> 
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.FirmName</td>
                                <td> 
                                    <a asp-controller="PersonContact" asp-action="Save" class="btn btn-primary " asp-route-id="@item.Id"><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-success" asp-controller="Person" asp-action="Update" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger" asp-controller="Person" asp-action="Remove" asp-route-id="@item.Id"><i class="fa fa-trash-alt"></i></a>
                                    <a class="btn btn-warning" asp-controller="Person" asp-action="GetSinglePersonByIdContact" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

